*{
    margin:0;
    padding:0;
    background-color:#1a1a1a1a;
}
body{
    font-family:'Roboto',sans-serif;
    color:#fff;
    padding:10px;
}
.container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
#nav{
    display:fles
}