/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 400px;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

h1,
h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  background-color: #333333;
  border: none;
  border-radius: 5px;
  color: #fff;
  outline: none;
}

button {
  width: 25%;
  padding: 10px;
  background-color: #6200ea;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3700b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #333333;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

li:hover {
  background-color: #6200ea;
}

#weather-container {
  background-color: #333333;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
}

.hidden {
  display: none;
}
